@model BaliTree.Models.StockTypes.DetailsVM

<div id="homesubtitle">
    <h2>@Html.DisplayFor(model => model.StockType.TypeName)</h2>
</div>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AverageCost)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AverageCost) 
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RRP)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RRP)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InStock)
        </dd>
    </dl>
</div>
<div class="text-center">
    <p>
        This section will in time be customized to prepare a more detailed analysis of stock by type
    </p>
</div>
<div>
    <a asp-action="Delete" asp-route-id="@Model.StockType.Id">Delete</a> |
    <a asp-action="Index">Back to List</a>
</div>
