@model IEnumerable<BaliTreeData.Models.StockItem>

<div id="homesubtitle">
    <h2>Stock Items</h2>
</div>

    <p>
        <a asp-action="Create" class="btn btn-default">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ItemName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Date)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CostPrice)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InStock)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ItemType.TypeName)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.ItemName)</a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CostPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.InStock)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemType.TypeName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
